/* seconds nav  */
.second_nav_btn {
    border-radius: 0px 0px 0px 25px;
}

.second_nav_row {
    border-radius: 0px 0px 10px 10px;
    background: linear-gradient(#154874, #000);
}


/* form */
.card_header {
    border: 1px solid white;
    border-radius: 20px 20px 0px 0px;
    background: linear-gradient(#154874, #000);

}

.card_header_text {
    font-size: 25px;
    color: white;
    text-align: left;
    letter-spacing: 6px;
    opacity: 0.7;


   
}

.radio_btns {

    height: 80px;
    width: 160px;;
    background: linear-gradient(#154874, #000);
    color: white;
    font-weight: bold;
    
    border-radius: 15px;
    
    background-image: url('../used_assets/back.png') center fixed no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
opacity: 0.8;
    border: 1px solid white;
}


.radio_btns:hover {

    height: 80px;
    width: 160px;;
    background: linear-gradient(#154874, #000);
    color: white;
    font-weight: bold;
    background-size: 100% 100%;
    opacity: 1;
    border: 1px solid white;
}

.options {
    font-size: 25px;
   
}

.custom_label {
    border: 1px solid white;
    border-radius: 0px;
    background: linear-gradient(#154874, #000);
    padding-left: 5px;
    border-radius: 5px;


}

.input_text {
    width: 200px;

    font-size: 14px;
   
    letter-spacing: 4px;
    font-weight: bold;
    color: white
}

.input_wrapper_row {
    margin-top: 20px;
   
}

.submit_btn {
    background: linear-gradient(#154874, #000);

    border: 1px solid white;
    width: 20%;
    letter-spacing: 3px;
   
}

.form_wrapper {
    background: linear-gradient(to bottom, #f2f2f2, #d2d2d2) !important;
}

.btn_wrappers {
    border-radius: 25px 25px 0px 0px;
}

.input_wrapper {
    border-radius: 0px 0px 25px 25px;
}






