



/*portfolio link  tab css*/
.card_header_overview_tab{
    background: linear-gradient(to right, #283E51, #03262f);
    border-radius: 10px 10px 0px 0px!important;
    justify-content: start;
    display: flex;
    align-items: center;
}
.card_header_text_overview_tab{
    letter-spacing: 5px;
    font-size: 25px;
    font-weight: bold;;
}
.card_body_overview_tab{
    height: 500px;
   
}
.card_body_overview_tab{
    background: linear-gradient(to right, #283E51, #03262f);
}
.writing_mode_overview_wrapper{
    background: linear-gradient(to right, #283E51, #03262f);
    border-radius:0px 25px 25px 0px;;
}
.writing_mode_link{
    writing-mode: vertical-lr;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 5px;
    ;
}
.icon_chain_overview_tab{
    font-size:35px;
}
.icon_eye_overview_tab{
    font-size:35px;
}
.card_body_overview_tab_first_col{
    border-radius:25px 0px 0px 25px;;
}
.icon_chain_overview_tab_wrapper{
    height: 17%;;
    border-bottom:1px solid white;
    background: linear-gradient(to right, #283E51, #03262f);
    border-radius:25px 0px 0px 0px;;;
}
.icon_eye_overview_tab_wrapper{
    height: 17%;
    border-top:1px solid white;
    background: linear-gradient(to right, #283E51, #03262f);
    border-radius:0px 0px 0px 25px;
    color:linear-gradient(to right, #283E51, #03262f);
}
.between_icons_overview_tab{
    height: 66%;;
     
}
.overview_tab_card{
   border:0px solid white;
    border-radius:50px!important 
}
.card_body_overview_tab{
    border-radius:0px 0px 15px 15px;   
}
.tab-pane{
    border:none!important;
}

  
.custom_label_overview_tab{
    background: linear-gradient(to right, #283E51, #1cb5e0);
    border-radius  :10px 5px 5px 10px;
    
}

.form_input_overview_tab{
    width  :250px!important;
    border:1px solid red;
}

.label_text_overview_tab{
    font-size:10px;
    width  :120px;s
}
.form_row_overview_tab{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    /* background: linear-gradient(to right, rgb(61, 127, 185), #1cb5e0); */
}
#profile_overview_chart{
    height: 100%;
    width: 100%;;
}
#portfolio_overview_chart{
    background: transparent url('../assets/profile_overview_chart_pic.jpeg') no-repeat center 175px;;
    background-size: 100px 100px;;
}