
.form_background_1{
background: linear-gradient(180deg, rgba(255,255,255,1) 67%, rgba(255,255,255,1) 97%);   
}

.form_background_2{
    background: linear-gradient(180deg, rgba(255,255,255,1) 67%, rgba(210,210,210,1) 97%, rgba(0,0,0,1) 100%);
    }
.nav_text{
    font-size:25px;
}
.custom_div_1{
    background: linear-gradient(#154874, #000);
    border-radius:0px 0px 5px 5px;
    letter-spacing: 2px;;

  
}

.form_label{
    background: linear-gradient(#154874, #000);
    border:1px solid white;
   
    
}


.form_label_text{
    font-size:12px;
    background: linear-gradient(#154874, #000);
    color:white;
    width: 20%;
    padding-top:3px;
    text-align: center;
    letter-spacing: 2px;;
    font-weight:bold;
    height: 30px;;
    border-radius:2px 2px 2px 2px;
}
.form_input{
    background-color: rgb(255,255,255,1)!important;
    /* background: linear-gradient(to right,#d2d2d2, #f2f2f2); */
    border-radius: 5px 5px 5px 5px!important;
    height: 30px;;
}





/* case overview css */

.left_border{
    background: linear-gradient(#154874, #000);
}

.chain_icon_wrapper{
    height:10%;
    border-radius:15px 0px 0px 0px ;
     background: linear-gradient(#154874, #000);
     border: 1px solid #154874;
     border: 1px solid white;
}

.chain_icon{
    font-size:20px;
    color: #bdd4e7;
  

}

.share_icon_wrapper{
    height:10%;
    border-radius:0px 0px 0px 15px ;
    background: linear-gradient(#154874, #000);
    border: 1px solid #154874;
    border: 1px solid white;
}
.share_icon{
    font-size:20px;
    color: #bdd4e7;
}

.left_border_text_wrapper{
    overflow:hidden;
    height:80%;
    border-radius :2px 15px 15px 2px;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}

.left_border_text{
    font-size:10px;
    color:blue;
   
}
.right_border_text_wrapper{
    border-radius:15px 2px 2px 15px ;
    background-color: aliceblue;;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;;

}

.right_border_text{
    overflow:hidden;
    height:80%;
    border-radius :15px 2px 2px 15px;
    color:blue;
}

.right_border{
  
    background: linear-gradient(#154874, #000);
}

.top_right_icon_wrapper{
     height:10%;
     border-radius:0px 15px 0px 0px ;
     background: linear-gradient(#154874, #000);
     border: 1px solid white;
}

.top_right_icon{
    font-size:25px;
    color: #bdd4e7;
}

.camera_icon_wrapper{

    height:10%;
    ;border-radius:0px 0px 15px 0px ;
     background: linear-gradient(#154874, #000);
     border: 1px solid #154874;
     border: 1px solid white;
}
.camera_icon{
    font-size:25px;
    color: #bdd4e7;
}











.case_overview_div_1{
    font-size:12px;
    height:100px;
    overflow: hidden;;
  
}


.case_overview_div_2{
    font-size:12px;
    height:100px;
    overflow: hidden;;
}
.overview_profile_image{
    height:125px;
    width:100%;
    border:1px solid black;
    border-radius:50%;
}




.custom_div_2{
    background: linear-gradient(#154874, #000);
    border-radius:20px 20px 0px 0px!important;
    letter-spacing: 2px;;
    font-size: 14px;;
  color:white;
  padding:5px;
}

#caseCreate_btn{
     background: linear-gradient(#154874, #000);
    border-radius:15px 15px 0px 0px;
    border:1px solid white;
}
#caseOverview_btn{
     background: linear-gradient(#154874, #000);
    border-radius:15px 15px 0px 0px;
    border:1px solid white; 
}

#caseOverview_div{
  background-color: linear-grdient(to bottom,#d2d2d2,#f2f2f2);
}
